.CardContainer-container {
    grid-column: 3 / 13;
    grid-row: 2 / 6;
    display: flex;
    flex-wrap: wrap;
}

.CardContainer-cardContainer {
    height: 47%;
    width: 33.33%;
    display: flex;
    justify-content: center;
}

.CardContainer-card {
    border: 1px solid black;
    box-shadow: 5px 5px 5px rgba(255,255,255,0.2);
    border-radius: 10%;
    background-color: white;
    height: 90%;
    width: 60%;
    cursor: pointer;
}

.CardContainer-card:hover {
    border: 1px solid rgba(255, 255, 255, 1);
    background: linear-gradient(rgba(75, 75, 75, 0.45), rgba(75, 75, 75, 0.45));
}

.CardContainer-weddingPhoto {
    width: 100%;
    height: 80%;
    border-radius: 10% 10% 0% 0%;
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: 50% 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.CardContainer-nameContainer {
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 20%;
}

.CardContainer-couplesNames {
    color: black;
    font-size: 1rem;
}

.CardContainer-weddingText {
    font-size: 1.5rem;
    font-weight: 900;
}
                        

