.Menu-container {
    grid-column: 11 / 16;
    grid-row: 1 / 6;
}

.Menu-flexContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 100%;
    height: 100%;
}

.Menu-link {
    text-decoration: none;
    font-size: 3rem;
    color: #eee;
    margin: 2rem 0;
}